*{
  box-sizing: border-box;
  scrollbar-width: none;
}
.shop-banner{
    position: relative;
    margin-bottom:30px;
    min-height: 200px;
    max-height: 300px;
    height: auto;
    width: 100vw;
    color: blue;;
}
.shop-banner-text{
  color:red;
  height:350px;
    position: absolute;
    display:flex;
    align-items: center;
    bottom: 20px;
    left: 20px;
    transform: translate(-50%, -50%);
    color: white;
}

.swiper-slide-image{
  min-width:18vw;
  height: 60vh;
  border-radius: 10px;

}
.swiper-slide-text{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}
.product-display{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top:30px;
}
.category{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20vw;
}

.product-display-image{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.product-display-grid{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
.product-display-gridVI{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
.product-display-gridIII{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
.product-display-gridII{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
.product-display-gridI{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
}
.product-display-right{
  display:flex;
  flex-direction: column;
  gap: 10px;
}
.product-display-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40%;
  padding-right: 40%;;
} 